* {
    box-sizing: border-box;
  }
  
  body {
    background: black;
    margin: 0;
    
  }
  
  .gallery {
    text-align: center;
    padding: 32px;
  }
  h1 {
    color: yellow;
    font-family: "Poppins", sans-serif;

}

.slide .nav p{

    color: yellow;
    font-family: "Poppins", sans-serif;
}

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .col {
    flex: 25%;
    max-width: 50%;
    padding: 0 5px;
  }
  
  .col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive Tablet View - makes a two column*/
  @media (max-width: 800px) {
    .col {
      flex: 100%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .col {
      flex: 100%;
      max-width: 100%;
    }
  }

  .footer {
    background-image: url(../images/bg-stars-1.png);
    padding: 6rem 0;
    }
    
    .footer .grid-4 {
      display: grid;
      grid-template-columns: 3.5fr 2fr 2fr 3fr;
    }
    
    .grid-4-col {
      padding: 0 1.7rem;
    }
    
    .footer .title-sm {
      color: #fafafa;
      margin-bottom: 0.9rem;
    }
    
    .footer .text {
      color: #aaa;
    }


  .copyright i{
      color: #ff004f;
  }
  
  nav .fas{
      display: none;
  }
  
  
  @media (max-width: 1280px) {
  
  .footer {
      padding: 4rem 0;
    }
  
    .footer-links a {
      font-size: 1rem;
    }
}
  
  @media (max-width: 850px) {
      .footer .grid-4 {
          grid-template-columns: repeat(2, 1fr);
          max-width: 500px;
          margin: 0 auto;
          text-align: center;
        }
      
        .footer-about {
          grid-column: 1 / 3;
        }
      
        .footer-newstletter {
          grid-column: 1 / 3;
        }
      
        .grid-4-col {
          margin: 1rem 0;
          padding: 0;
        }
      
    }